<!DOCTYPE html>
<html>
<head>
    <title>마케팅 정보 수신동의 약관</title>
</head>
<body>
  <pre>
    최근 수정일: 2023년 10월 23일 월요일
    1. 개요
    토그를 운영하는 주식회사 [회사명] (이하 ‘회사’ 또는 ‘토그’)은 회사가 제공하는 서비스의 운용에 있어 각종 정보를 SMS, 이메일 등의 방법으로 회원에게 제공할 수 있습니다. 결제 안내 등 의무적으로 안내되어야 하는 정보성 내용 및 일부 혜택성 정보는 수신 동의 여부와 무관하게 제공됩니다.
    2. 마케팅 활용 목적
    회원님이 본 약관에 동의하실 경우, 회원님의 개인정보를 활용하여 새로운 기능, 이벤트 및 프로모션 등 광고성 정보를 제공합니다.
    3. 전송 방법
    마케팅 정보는 주로 SMS와 이메일을 통해 전달됩니다.
    4. 철회 안내
    회원은 언제든지 마케팅 정보 수신 동의를 철회할 수 있으며, 이 경우 회사가 제공하는 기본 서비스 이용에는 지장이 없습니다. 다만, 마케팅 관련 정보를 수신하지 못할 수 있습니다.
    5. 수신 동의 변경
    회원은 1:1문의 접수를 통해 언제든지 수신 동의를 변경(동의/철회)할 수 있습니다.
    6. 개인정보 이용 상세 내역
    이용하는 개인정보: 휴대전화번호, 이메일주소
    보유 및 이용 목적: 새로운 콘텐츠 안내, 이벤트 및 프로모션 등 정보 제공
    7. 개인정보 보유 및 이용 기간
    개인정보는 마케팅 정보 수신 동의일로부터 회원 탈퇴 또는 마케팅 정보 수신 동의 철회 시까지 보유 및 이용합니다.
    8. 약관의 시행과 변경
    이 약관은 시행일로부터 적용되며, 법령 및 방침에 따른 변경 내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.
  </pre>
</body>
</html>